.lucide {
  cursor: pointer;
  margin: 0.35em;
  box-sizing: border-box;
  border-radius: 4px;
  transition: background-color 220ms linear;
  &:hover {
    background-color: #ebebef;
  }
}

.is-active {
  background-color: #dfdfdf;
}
