.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .leftLayout {
    width: 4em;
    height: 100%;
    padding: 0.45em;
    box-sizing: border-box;
  }
  .rightLayout {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: solid 2px #ebebef;
    border-radius: 4px;
  }
}

.BubbleMenu {
  border: solid 2px #ebebef;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
}

.FloatingMenu {
  margin-left: -50px;
  box-sizing: border-box;
}
