html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#root {
  flex: 1;
  box-sizing: border-box;
}

.tiptap.ProseMirror:focus-visible {
  outline: none !important;
}

.ant-popover .ant-popover-inner {
  border: solid 2px #ebebef;
  box-shadow: none !important;
  padding: 0.65em 0.35em;
}

.ant-space-gap-row-small {
  row-gap: 0 !important;
}
